@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

#LandingPage {
  height: 100vh;
  width: 100vw;
  display: flex;
}

#LandingImage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 60%;
  background-image: url("/img/landingImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#LandingImage h1{
  font: 3.5em 'QuickSand';
}

#LandingLogin {
  height: inherit;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#LoginForm{
  position: relative;
  top: 6em;
}
#LoginForm form{
  display: grid;
}

#LoginForm form TextField{
  padding: 0.5em;
}

#LoginForm h1{
  font: 3.5em 'QuickSand';
}

#LoginForm div.MuiTextField-root, #LoginForm button.MuiButton-root{
  margin: 0.5em;
}

#TodoPage{
  margin: 0;
  padding: 0;
  border: 0;
}

#TodoHeader{
  background-color: #303030;
  display: flex;
  /* height: fit-content; */
}
#TodoHeader h1{
  font:2em 'QuickSand';
  color: white;
  padding: 0.25em;
  margin: 0 auto 0 1em;
}

#TodoHeader div{
  height: fit-content;
  align-self: center;
  padding: 0 1em;
}

#TodoHeader div Button{
  height: fit-content;
  margin: 0.25em;
}

#TodoContent{
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.error {
  color:#DB4F39;
}